body {
	min-width: 1000px;
	background-color: #990000;
	font-family: Roboto;
	text-align: center;
}

h1 {
	color: white;
	font-size: 60px;
	letter-spacing: 7px;	
	font-weight: bold;
	margin-top: 30px
}

p {
	color: white;
	font-size: 30px;
}

.weapon {
	height: 150px;
	width: 200px;
	float: left;
	margin: 30px;
	border-radius: 10%;
	padding: 10px;
}

.all_weapons {
	overflow: hidden;
	display: inline-block;
}

.game {
	overflow: hidden;
}

.user_choice, .computer_choice, .winner {
	display: inline-block;
}

.user_choice {
	float: left;
	text-align: center;
	margin-left: 10%;
}

.computer_choice {
	float:right;
	text-align: center;
	margin-right: 10%;
}

.name, .score {
	margin-top: 10%;
	font-size: 50px;
	font-weight: bold;
}

.all_weapons .weapon:hover {
	background-color: #ff0000;
}